// Column Breakpoints
$breakpoint: (
    "xs": 360px,
    "sm": 576px, 
    "md": 768px, 
    "lg": 992px, 
    "xl": 1200px
);

// Default column takes up 1/4 of the grid
.col {
    grid-column: span 3;

    @each $width, $px in $breakpoint {
        @media (min-width: #{$px}) {
            &-#{$width} {
            // span default amount if above breakpoint 
                grid-column: span 3;
            }
        }
        @media (max-width: #{$px - .2}) {
            &-#{$width} {
            // span full width if below breakpoint
                grid-column: 1 / -1;
            }
        }

        @for $i from 1 through 12 {
            @media (min-width: #{$px}) {
                &-#{$width}-#{$i} {
                // span selected amount if above breakpoint
                    grid-column: span #{$i};
                }    
            }
            @media (max-width: #{$px - .2}) {
                &-#{$width}-#{$i} {
                // span full width if below breakpoint
                    grid-column: 1 / -1;
                }
            }
        }
    }

    // span selected amount
    @for $i from 1 through 12 {
        &-#{$i} {
            grid-column: span #{$i};
        }
    }
}