@use "media-queries";

// Container Breakpoints
$container-max-widths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px
);

// Default container has a width of 12 units
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: auto;

    @each $width, $px in $container-max-widths {
        // responsive container by breakpoint
        &-#{$width} {
            @extend .container;
            @include media-queries.min-width($px);
            max-width: $px;
        }
    }
}

