@use "media-queries";

// Container Breakpoints
$breakpoint: (
    "sm": 576px, 
    "md": 768px, 
    "lg": 992px, 
    "xl": 1200px
);


// TEST STYLING //
[class|="container"] {
    margin: 10px;
    border: 2px solid black;
    height: 60px;
    place-items: center;
    
    .t {
        border: 2px solid goldenrod;
        height: 20px;
    }
}

// Default container has a width of 12 units
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: auto;

    @each $width, $px in $breakpoint {
        // responsive container by breakpoint
        &-#{$width} {
            @extend .container;
            @include media-queries.min-width($px);
            max-width: $px;
        }
    }
}

